
//Uso de Import
@import "navbar";


//Uso de variables
$miPadding: 50px;


.carousel {
    margin-bottom: 4rem;
  }
  
  /* Since positioning the image, we need to help out the caption */
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  
  .carousel-item {
    height: 32rem;
    //Uso de Nesting
    > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 32rem;
    }
  }

  h3{
    text-align: center;
  }
  
  .banner-text{
    text-align: center;
    background-color: gray;
    color: white;
    //Uso de las variables definidas anteriormente 
    padding-top: $miPadding;
    padding-bottom: $miPadding;
  }